<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img [src]="pic1" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">World of Technology</h1>
      <h3 class="display-5 fw-bold 1h-1 mb-3">
        10 Technologies That Are Changing the World
      </h3>
      <ol>
          <li>Voice assistance</li>
          <li>Crispr</li>
          <li>Robot assistance</li>
          <li>Augmented and mixed reality</li>
          <li>Reginarative Medicine</li>
          <li>Driveless vehicle</li>
          <li>Reusable rockets</li>
          <li>Cryptocurrency</li>
          <li>quantum computing</li>
          <li>Artificial intelligence and Automotion</li>
      </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <img [src]="pic2" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">

    <p>
        Futurists of the 1950s and '60s predicted that by the 2000s, <a href="https://www.entrepreneur.com/topic/flying-cars"> flying cars</a> and airborne robots would be a part of our everyday lives. Instead, we live in a world dominated by live streaming, smartphones and social networks.

        Related: <a href="https://www.entrepreneur.com/article/237539"> Make Innovation Systematic and Never Again Ask 'Why Didn't We Think of That?'</a>

        While those forecasters didn't quite get the timing right, they got the technology right. Today, we are at the brink of another technological boom. This time, technologies like self-driving vehicles and robot assistants are under development. Soon, these and the other exciting technologies described below will go mainstream, changing the world in the process.
    </p>
                <h1>Voice Assistance</h1>
                <img [src]="pic3" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">

    <p>
        In four years, the majority of American households <a href="https://techcrunch.com/2017/11/08/voice-enabled-smart-speakers-to-reach-55-of-u-s-households-by-2022-says-report/"> are expected to own a voice assistant device</a> like an Amazon Echo or an Apple Homepod. Thanks to the power of artificial intelligence (AI), voice assistants will grow increasingly helpful.

        Even today, Amazon releases regular updates to Echo in order to help owners get more from the technology. The company recently reported seeing larger-than-expected gains from its voice assistant, which is why <a href="https://www.cnbc.com/2018/02/01/bezos-amazon-will-double-down-on-alexa-beating-projections.html"> Amazon is now doubling down on the technology.</a>


        Voice assistants are making a significant impact in markets across the globe, and some observers expect that in the future we will communicate with technology through voice rather than text.
    </p>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img [src]="pic4" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h4 class="display-5 fw-bold lh-1 mb-3">Crispr</h4>
            Imagine a world where crushing genetic diseases like Huntington's and cystic fibrosis can be cured. Thanks to crispr, genetic disease may be eliminated.

            CRISPR Cas-9 (an abbreviation standing for "Clustered Regularly Interspaced Short Palindromic Repeats") is a gene-splicing technology capable of finding and removing mutated sections of DNA. Once this material is eliminated, crispr technology can replace the mutated sections with non-mutated variants.
            
            As a result, crispr has the power to permanently eliminate certain types of genetic diseases from blood lines. The technology has already been used to eliminate cancer in some patients, and early results show that it may be possible to <a href="https://www.technologyreview.com/2015/11/05/165187/crispr-gene-editing-to-be-tested-on-people-by-2017-says-editas/">cure genetically caused blindness as well.</a> 
          </div>
        </div>
      </div>
  </div>

  <h1>Robot Assistance</h1>
  <img [src]="pic" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">

  <P class="container">
    Companies like Boston Dynamics have already developed a wide variety of robot assistants that can be used in factories or on the battlefield. The company originally started as an arm of MIT and has since pioneered the development of intelligent robots that operate effectively in the real world.

    Knightscope is another company working on a line of robot assistants for security applications. For example, its K5 robot features four cameras and can recognize 300 licenses plates per minute, per camera. It can also detect suspicious networks that may be operated by hackers.
    
    Related: <a href="https://www.entrepreneur.com/article/290246"> How to Innovate for the Next 100 Years</a>
  </P>

  <div class="container">
    <img [src]="pic5" class="d-block mx-lg-auto img-fluid" alt="World in technology" width="700" height="500" loading="lazy">

    <p>
        Just a few years ago, it was unclear whether augmented or mixed reality would take off. Given the fact that tech giants like Apple are investing billions of dollars in augmented reality hardware, it's pretty clear that it's only a matter of time before the tech goes mainstream.

        For example, Apple's latest phones are equipped with augmented reality capabilities, and a <a href="https://www.bloomberg.com/news/articles/2017-11-08/apple-is-said-to-ramp-up-work-on-augmented-reality-headset"> recent report suggests</a> that the company is working on an AR headset that will replace the iPhone in two to three years.
    </p>
  </div>
