<main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" [(ngModel)]="login.username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="login.password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me
          "> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="loginIn()">Sign in</button>
      <div class="signup">
        <a routerLink='/sign-form'><button class="w-100 btn btn-lg btn-danger" type="submit" >Sign up</button></a>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
  